*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.center{
    text-align: center;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2{
    font-size: 35px; 
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 0px;
}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900px;
}

.color-orange{
    color: #FD6E0A;
}
/* main style */

header{
    background-color: #f7d9c4;
    padding: 50px;
    background-image: url(images/developer.png),url(images/header_bg.png);
    background-position: 23px 38px,bottom right;
    background-repeat: no-repeat;
}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
    align-items: center;
}

#banner{
    /* border: 1px solid red;  */
    margin: 47px 38px 0px 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 60px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 13px;
    color: #757575;
    line-height: 20px;
    margin-bottom: 30px;
}

#about{
    padding-top: 50px;
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-between;
}

.about-info .info-card p{
     font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.about-info .info-card h4{
    font-size: 18px;
}

#skills, #resume{
    padding-top: 0px;
    margin-bottom: 100px;
}

.skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}


.skill-box{
    display: flex;
    gap: 24px;
    border-radius: 5px;
}

.skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);

}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 16px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 14px;
    color: #757575;
    line-height: 28px;
    margin-bottom: 30px;
}

.resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}

.section-tittle{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-tittle{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

.card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.card-text{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
    line-height: 28px;
}

.resume-container hr{
    margin-top: 30px;
    margin-bottom: 30px;
}

footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}

.footer-container .social{
    max-width: 562px;
}

.footer-container h2{width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}

.footer-container p{
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}

.icons a{
    margin-right: 24px;
}

.footer-container form input[type="text"]{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}

.footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}

/* responsive design */

.hide{
    display: none;
}

@media screen and (max-width:576px) {

/* header section */
header {
    background-color: #f7d9c4;
    padding: 50px;
    background-image: none;
  }

#banner {
    flex-direction: column;
    margin: 0;
}

.banner-image{
    width: 100%;
}
.banner-image img{
    width: 100%;
}

.banner-button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

nav{
    width: 95%;
    display: flex;
    flex-direction: column;
}

.logo h2 {
    font-size: 77px;
    text-align: center;
}

nav .menu {
    gap: 25px;
    align-items: center;
    flex-direction: column;
}

#banner .banner-content h2 {
    margin-top: 33px;
    text-align: center;
}

#banner .banner-content h1 {
    font-size: 30px;
    text-align: center;
}

#banner .banner-content p {
    font-size: 15px;
    text-align: center;
}

.btn {
    font-size: 18px;
    margin-bottom: 18px;
}

/* skill section */
#skills, #resume {
    padding-top: 30px;
}

.skills-container {
    width: 95%;
}

.section-heading p {
    font-size: 15px;
}

.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 0;
}

.skill-box {
    flex-direction: column;
}

.skill-box .skill-card {
    max-width: 100%;
}

/* about section */

#about .about-container {
    width: 95%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 0;
}

#about .about-container .about-info {
    flex-direction: column;
    gap: 10px;
}

.section-heading h2 {
    margin-top: 50px;
}

/* footer section */
footer {
    margin-top: 30px;
    padding: 0;
    margin-bottom: 50px;
}

footer .footer-container {
    width: 95%;
    display: flex;
    flex-direction: column;
}

.footer-container h2 {
  width: 95%;
}

.footer-container form input[type="text"] {
    width: 95%;
}

.footer-container form textarea {
    width: 95%;
}

.icons a {
    margin-right: -6px;
    margin-left: 59px;
    }


/* resume section */

.resume-container {
    width: 95%;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
}


}